


<div class="showcase">
    <h1 class="header">Todo App</h1>

    <div class="form-container">
        <form (ngSubmit)="newTodo()" [formGroup]="addTodoForm">
            <input placeholder="Enter new Project" formControlName="task" type="text">
            <!-- <button type="submit">Add Todo</button> -->
        </form>
    </div>
    


    <div *ngIf="allTodos.length > 0">
        <div *ngFor="let todo of incomplete; index as i;" class="todo-item">
            <div class="check-text">
                <input [checked]='todo.done' type="checkbox" (click)="done(todo, todo.id)">
                <p [routerLink]="['/todo', i]" [ngClass]="{done: todo.done}">{{ todo.name }}</p>
            </div>
            <button (click)='deleteTodo(todo, todo.id)' class="button">Delete</button>
        </div>
        <p class="complete_head" *ngIf="complete.length > 0">
            Completed
        </p>
        <div *ngFor="let todo of complete; index as i;" class="todo-item">
            <div class="check-text">
                <input [checked]='todo.done' type="checkbox" (click)="done(todo, todo.id)">
                <p [routerLink]="['/todo', i]" [ngClass]="{done: todo.done}">{{ todo.name }}</p>
            </div>
            <button (click)='deleteTodo(todo, todo.id)' class="button">Delete</button>
        </div>
    </div>
    
</div>
